:root {
    font-family: 'Rubik', sans-serif;
    --gris: #4a4a4a;
    --azul: #3CDBC0;
}

/* cabecera */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}

.logo {
    width: 155px;
    margin: 10px 0;
}

.links {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: var(--gris);
    padding: 10px;
}

/* main */

.main {
    background-color: var(--azul);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
    position: relative;
    transform: translate(0 , -50%);
}

.slogan * {
    padding: 5px;
}

@media all and (min-width: 768px) {

    /* cabecera */
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .logo {
        margin: 20px 0 0 30px;
    }

    .links_box {
        margin-right: 30px;
        padding-top: 25px;
    }

    /* main */

    .slogan {
        font-size: 40px;
        line-height: 40px;
        transform: none;
    }

